.menu-item {
  box-sizing: border-box;
  width: 225px;
  min-width: 110px;
  margin: 0 15px;
}

.menu-item img {
  width: 100%;
}

.menu-item img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.menu-item-description {
  font-size: 1rem;
  text-align: center;
}

.menu-item-name {
  padding: 5px;
}
