#cart {
  width: 100%;
  max-width: 1400px;
  margin: 50px;
  padding: 0 50px;
  justify-content: center;
}

#cart-display {
  width: 100%;
  margin-left: 50px;
}

#empty-cart {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
}

/* --------------------------- */
/* ------ SMALL DISPLAY ------ */
/* --------------------------- */

#cart-display-sm {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
