#cart-summary {
  position: relative;
  margin-bottom: 50px;
  width: 450px;
  min-width: 300px;
  height: 100%;
  border: 1px solid #cfcece;
}

#cart-summary > h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding: 10px;
  background: #e6e6e6;
}

#cart-summary > div {
  font-size: 1.15rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.item-breakdown {
  font-size: 0.9rem;
  text-align: left;
  justify-content: space-between;
}

.item-breakdown > div {
  width: 30px;
}

.item-breakdown div:nth-child(2) {
  width: 150px;
}

.item-breakdown div:nth-child(3) {
  width: 50px;
}

.checkout {
  bottom: 0;
  height: 40px;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  color: #fff;
  text-shadow: 0 0 0.1rem #000;
  background: #db9768;
}

.checkout:hover {
  cursor: pointer;
  background: #bd7038;
}

/* --------------------------- */
/* ------ SMALL DISPLAY ------ */
/* --------------------------- */

#cart-summary-sm {
  position: relative;
  margin-bottom: 50px;
  width: 60%;
  min-width: 370px;
  height: 100%;
  border: 1px solid #cfcece;
}

#cart-summary-sm > h2 {
  margin-bottom: 10px;
  padding: 10px;
  background: #e6e6e6;
}

#cart-summary-sm > div {
  font-size: 1.25rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
