@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Cuprum&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.center-items {
  justify-content: center;
  align-items: center;
}

.margin-bot-25 {
  margin-bottom: 25px;
}

.margin-bot-50 {
  margin-bottom: 50px;
}

.margin-bot-100 {
  margin-bottom: 100px;
}

.font-brown {
  color: #db9768;
}

.cpm-text {
  font-family: Cuprum, sans-serif;
}

.comm-text {
  font-family: Commissioner, monospace;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
